.next
.vs
.vscode
BlazorPages

src/node_modules
src/npm-debug.log
src/.ionide
src/.next
src/.vs
src/.vscode

src/data/localdb/assets.json
src/data/localdb/guitars.json
src/data/localdb/instruments.json
src/data/localdb/projects.json
src/data/localdb/wishlist.json
